:root {
  --dark-blue: #1f2937;
  --light-grey: #f9faf8;
  --dark-grey: #e5e7eb;
  --button-background: #3882f6;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 16px;
  cursor: pointer;
}

header {
  background-color: var(--dark-blue);
  padding: 0 0 2% 0;
}

header h2 {
  font-size: 24px;
  color: var(--light-grey);
}

header ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grey);
  max-width: 75%;
  margin: 0 auto;
}

.hero-section {
  background-color: var(--dark-blue);
  color: var(--dark-grey);
  padding-bottom: 40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
}

.hero-section h1 {
  color: var(--light-grey);
  font-size: 48px;
  font-weight: 900;
}

.hero-section p {
  font-size: 18px;
}

.hero-section img {
  border-radius: 5px;
  max-width: 100%;
}

.hero-left {
  max-width: 40%;
}

.hero-right {
  max-width: 50%;
}

.hero-container button {
  background-color: var(--button-background);
  padding: 5px 2%;
  border-radius: 5px;
  color: var(--light-grey);
}

.cards-section {
  padding: 40px;
}

.cards-container {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.card {
  width: 25%;
  padding: 2%;
}

.card img {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  border: solid var(--dark-blue);
}

.quote-section {
  background-color: var(--dark-grey);
  padding: 5% 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  max-width: 50%;
}

.quote-container figcaption {
  align-self: flex-end;
  font-size: 20px;
}

.quote-container blockquote {
  margin: 0;
  text-align: justify;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: var(--dark-blue);
}

.cta-container {
  max-width: 75%;
  background-color: var(--button-background);
  margin: 3% auto;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.cta-container button {
  align-self: center;
  padding: 5px 2%;
  background-color: var(--button-background);
  border: solid 2px var(--light-grey);
  border-radius: 5px;
  color: var(--light-grey);
  font-weight: 900;
}

.cta-container h3 {
  color: var(--light-grey);
  margin-bottom: 0;
}

.cta-container p {
  color: var(--dark-grey);
  margin-top: 5px;
}

footer {
  background-color: var(--dark-blue);
  padding: 1%;
}

footer p {
  color: var(--dark-grey);
  text-align: center;
}
